<footer>

		<div class="container">
			<div class="row">
					<div class="col-md-7 col-md-offset-1 col-md-push-4 col-sm-7 col-sm-push-5">
						<div class="footer-project-title">PROJECTS &mdash;</div>
						<div class="footer-project"><a href="https://medium.muz.li/design-experiment-how-i-gamified-my-life-4c57dc02956c" target="_blank">Design Experiment: How I Gamified My Life</a></div>
						<div class="footer-project"><a href="https://medium.muz.li/designing-stepni-a-marketplace-connecting-vehicle-owners-and-local-garages-43c0f4fa8d3f">Designing Stepni - A Marketplace App</a></div>
						<div class="footer-project"><a href="https://medium.muz.li/reimagining-bajaj-finservs-customer-portal-eda2d6df5ddc">Redesigning The UX Of A Customer Service Portal</a></div>
					</div>
				<div class="col-md-4 col-md-pull-8 col-sm-5 col-sm-pull-7">
					<div>&copy; Mriganka Bhuyan</div>
					<div class="footersecondary">Developed by me with code only a mother could love.</div>
				</div>
			</div>
		</div>

</footer>
