<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title1">Oh hey!</div>
					<div>What a pleasant surprise!</div>
				</div>
			</div>

      <br>
			<div class="row">
				<div class="col-md-12">
					<div class="title2">I'm Mriganka <a data-tooltip="Bhuyan sounds like Boo-yea!"><u>Bhuyan</u></a>
						<br>People say I'm a smart problem solver. I believe them.
					</div>
          <br>

					<div>Currently building the Disney equivalent for pets everywhere</div>

          <br>
					<div>
						<a href="https://drive.google.com/open?id=1F9ZKQEAWCFMXDRE6otGdxD5gHi1y0ltb" target="none">
							<div class="btn btn-normal">My Story So Far</div>
						</a>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="projects">

	<div class="container">
		<div class="row">
			<div class="sectionheader">PROJECTS</div>
		</div>
	</div>


  <!-- PROJECT 1 -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
					<a href="https://medium.muz.li/design-experiment-how-i-gamified-my-life-4c57dc02956c" target="_blank">
					<img src="<%= image_path("How_I_Gamified_My_Life.png") %>" class="img-responsive"></a>
			</div>
			<div class="col-md-9 title3">
				<div>
					<a href="https://medium.muz.li/design-experiment-how-i-gamified-my-life-4c57dc02956c" target="_blank">
						How I Gamified My Life</a>
				</div>
				<div class="description1">
					2017-18 / EXPERIMENTS
				</div>
				<div class="description2">
					A description of the project goes here
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>

	<!-- PROJECT 2 -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
					<a href="https://medium.muz.li/designing-stepni-a-marketplace-connecting-vehicle-owners-and-local-garages-43c0f4fa8d3f" target="_blank">
					<img src="<%= image_path("stepni.png") %>" class="img-responsive"></a>
			</div>
			<div class="col-md-9 title3">
				<div>
					<a href="https://medium.muz.li/designing-stepni-a-marketplace-connecting-vehicle-owners-and-local-garages-43c0f4fa8d3f" target="_blank">
						Stepni: Designing A Marketplace App</a>
				</div>
				<div class="description1">
					2016-17 / MOBILE + WEB
				</div>
				<div class="description2">
					A description of the project goes here
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>

	<!-- PROJECT 3 -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
					<a href="https://medium.muz.li/reimagining-bajaj-finservs-customer-portal-eda2d6df5ddc" target="_blank">
					<img src="<%= image_path("experia.png") %>" class="img-responsive"></a>
			</div>
			<div class="col-md-9 title3">
				<div>
					<a href="https://medium.muz.li/reimagining-bajaj-finservs-customer-portal-eda2d6df5ddc" target="_blank">
						Redesigning The UX Of A Customer Portal</a>
				</div>
				<div class="description1">
					2014-15 / WEB
				</div>
				<div class="description2">
					A description of the project goes here
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>

</section>
