<section class="intro">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="title1">Oh hayyy!</div>
				</div>
			</div>

      <br>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<div class="title2">I'm Mriganka <a data-tooltip="Bhuyan sounds like Boo-yea!"><u>Bhuyan</u></a>&mdash;
						<br>People say I'm a smart problem solver. I believe them.
					</div>
          <br>

					<div>Currently building the Disney equivalent for pets everywhere</div>

          <br>
					<div class="contact">
						<a href="https://drive.google.com/open?id=1F9ZKQEAWCFMXDRE6otGdxD5gHi1y0ltb" target="none">
							<div class="btn btn-normal">My Story So Far</div>
						</a>
					</div>
				</div>
			</div>

		 <!--  Hello again! Didn't expect to see you here :) -->

		</div>
	</section>
