* {
-webkit-font-smoothing: antialiased;
  //box-sizing: border-box;
}

@import "bootstrap-sprockets";
@import "bootstrap";


// CUSTOM FONTS (https://www.youtube.com/watch?v=MrQnAg5YG3g)

 @font-face {
   font-family: "Circular";
   src: url('/assets/CircularStd-Medium.otf');
 }


body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Circular", "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  //margin: 0!important;
  //font-weight: 500;
}

a {
  color: #00A699;
}

/* .text-babu, .icon-babu {
  color: #00A699;
}

.limit {
  max-height: 450px;
  overflow: hidden;
}

.limit img {
  width: 100%;
  height: 100%;
} */

// ""@media only..." helps maintain 100% width when the viewport changes to mobile
/* @media only screen and (max-width: 968px) {
  [class*="container"] {
      width: 100%;
  }
} */

/* .flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.affix {
      top: 20px;
      z-index: 9999 !important;
  }


.text-red, .icon-red {
  color: #ff5a5f;
}

u {
    border-bottom: 2px dotted #000;
    text-decoration: none;
} */


// SECTION
section {
  width: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  padding: 40px 0px;
  margin-top: 0px;
}

.sectionheader {
  font-weight: 600;
  letter-spacing: 7px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 25px;
  padding-left: 10px;
}

.container {
  width: 100%;
  height: 100%;
}

.intro {
    min-height: 70vh;
    width: 100%;
}

.projects {
    width: 100%;
    background-color: #E1BEE7;
    display: inline-block;
}

.title1 {
	display: inline-block;
	font-family: "Circular";
	font-weight: 600;
  font-size: 11vw;
	line-height: 1.2;
	color: #000000;
	text-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.title2 {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 15px;
  margin-bottom: 35px;
  transition: all 0.3s ease;
}

.title3 {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.3;
	color: #000;
  margin-bottom: 35px;
  text-decoration: none;
}

.title3 a {
  color: #4a0f56;
  text-decoration: none;
}

.description1 {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 7px;
}

.description2 {
  font-weight: 300;
  font-size: 15px;
  color: #80398e;
  margin-top: 15px;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

//Hide the tooltip content by default
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

//Position tooltip above the element
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition: all 0.3s ease;
}

//Triangle Arrow
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transition: all 0.3s ease;
}

//Show tooltip content on hover
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}


// NAVBARS
.navbar-default {
  background-color: #000;
  //width: 100%;
}

.navbar-default .navbar-brand {
  color: #FD4F5C;
  font-size: 2em;
  font-weight: 400;
  padding-top: 13px;
}

/*.navbar-form .form-control {
    display: inline-block;
    width: 350px;
    height: 40px;
    vertical-align: middle;
} */

.navbar-default .navbar-nav > li > a {
  color: #6D6D6D;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: transparent;
}


// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form {
  border: 1px solid #00A699;
  background-color: #00A699;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}



// PANELS
/* .panel-default .panel-heading {
  color: #ffffff;
  background-color: #00A699;
  font-size: 16px;
  font-weight: 400;
}

.truncatetext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.row-space-4 {
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
} */



// AVATARS
/* .avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
} */



// FORMS
/* .form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.form-control1 {
  border-radius: 1px;
  height: 4rem;
  width: 100%;
  color: #808080;
  background-color: white;
  border: 1px solid #808080;
}

.form-group input {
  height: 45px;
  border: 1px solid #e8e8e8;
}

.form-group textarea {
  border: 1px solid #00A699;
}

.form-group input[type="radio"] {
  height: 15px;
  margin-right: 10px;
}

.btn-group label {
  margin-right: 15px;
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #00A699;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; //Firefox
  -webkit-appearance: none; //Safari & Chrome
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #00A699;
  top: 35px;
  right: 30px;
  transform: scale(0.94, 0.62);
}


.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #00A699;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; //Firefox
  -webkit-appearance: none; // Safari & Chrome
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #00A699;
} */


// LEFT SIDEBAR
/* .sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
} */



// PHOTO UPLOAD
/*.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
  max-height: 160px;
} */


// LISTING SHOW
/* .petpref li {
  margin-bottom: 10px;
  font-size: 14px;
  list-style-type: none;
}

.petpref .text-line-through {
  text-decoration: line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
} */



// RESERVATIONS
/* .reservation-table td {
  table-layout: fixed;
  width: 40%;
  border: none;
  border-bottom: 1px dashed #dce0e0;
  padding: 10px;
}

.reservation-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.form-control.datepicker {
  color: #808080;
  background-color: white;
  border: 1px solid #dce0e0;
  text-align: left;
}

.form-control.dropdown {
  color: #dce0e0;
  background-color: white;
  border: 1px solid #dce0e0;
  text-align: center;
}

.message-alert {
  color: #d43242;
  font-size: 15px;
  padding-top: 10px;
} */


// SEARCH
/* #main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ff5a5f;
} */


// MAP MARKER (REMOVE THE CLOSE ICON IN THE INFO WINDOW)
/* .gm-style-iw + div {display: none;}
.gm-style-iw {text-align:center;} */


// HOME PAGE
/*.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
} */


// CALENDAR
/*.fc-content.Waiting {
  background-color: #a0a0a0;
  //background: repeating-linear-gradient(
  //  -55deg,
  //  #a0a0a0,
  //  #a0a0a0 10px,
  //  #808080 10px,
  //  #808080 20px
  //);
}

.fc-past {
  background-color: #e2e2e2;
}

.fc-day {
  position: relative;
}

.fc-content {
  background-color: #FD5C63;
  height: 40px;
  border-radius: 20px;
}

.fc-event {
  border: 0px;
  background-color: transparent;
}

.fc-title {
  font-size: 14px;
  position: relative;
  top: 7px;
  left: 20px;
}

.day-price {
  position: absolute;
  color: #107D8B;
  bottom: 2px;
  right: 2px;
}

.badge {
  background-color: #FC5B62;
  position: relative;
  top: -15px;
  left: -5px;
} */


// PAYMENT FORM
/* #add-card form {
  width: 480px;
  margin: 20px auto;
}

#add-card label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

#add-card label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 2px;
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: #F99A52;
}

#add-card button {
  float: left;
  display: block;
  color: white;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}

#add-card button:focus {
  background: #FD5C63;
}

#add-card button:active {
  background: #FD5C63;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
} */


// FOOTER
footer{
background-color: rgb( 51, 51, 51 );
color:#fff;
bottom: 0;
left: 0;
width: 100%;
z-index: -1;
padding: 40px 0px;
font-size: 14px;
font-weight: 700;
margin-top: 0px;
}

.footersecondary{
color: #rgb(144, 144, 144);
font-size: 14px;
font-weight: 400;
letter-spacing: 0.5px;
}

.footer-project-title {
font-size: 12px;
font-weight: 600;
color: rgba(255,255,255,0.3);
text-transform: uppercase;
letter-spacing: 2px;
margin-bottom: 20px;
}

.footer-project {
list-style: none;
padding: 0;
margin: 0;
position: relative;
}

.footer-project a{
font-size: 16px;
font-weight: 700;
color: rgba(255,255,255,0.5);
display: inline-block;
transition: 0.3s ease;
}
.footer-project a.active {
color: rgba(255,255,255,1);
}

.footer-project a:hover {
color: rgba(255,255,255,1);
}

.footer-project a:after {
content: '';
display: block;
color: white;
position: absolute;
bottom: 0px;
left: 0;
width: 0%;
border-bottom: 1px solid #fff;
transition: 0.4s ease;
}

.footer-project a:after:hover {
width: 100%;
z-index: 100;
}

.footer-project span {
font-weight: 400;
}
